@model InfoInfo2025.Models.Category

@{
    ViewData["Title"] = "Kategoria " + @Model.Name;
}

<h1 class="text-primary">Szczegóły kategorii</h1>

<div>
    <h4 class="text-success">@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            <i class="bi-@Model.Icon" style="font-size: 3rem;"></i><br />
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
    </dl>
</div>
<div>
    @{
        if (User.IsInRole("admin"))
        {
            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.CategoryId">Edytuj</a>
        }
    }
    <a asp-action="Index" class="btn btn-light">Powrót do listy</a>
</div>
